*{
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  margin: 0;
} 

/*App.js */
.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
} 

/*Otsikot */
h1 {

}

h3 {

}

/*Listat */
ol, ul { 
  list-style-type: none;
  margin: 0;
  padding: 0;
}  

/*Lomake*/
input[type="text"]{

}
input[type="number"]{
  
}
